---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

ColumnLimit: 135

AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
PointerAlignment: Left
---
